h1 {color:blue;
}

p {background-color: rgb(168, 89, 89);
    color: black;
    font-family: Times;
    padding: 10px;
}

h2 {
    color: blue;
}

h5 {
    background-color: rgb(110, 110, 182);
}

.HEDDA {
    color: purple
}

.LOVBURG {
    color: orange;
}

.TESMAN {
    color: rgb(104, 191, 104);
    text-shadow: 5px rgb(224, 211, 211);
    height: 20px;
    width: 100%;
    transition: all 0.4s ease-in-out; 
}

.q {
    font-family: Arial, Sans-serif;
}

.table { border: dashed 3px rgb(128, 221, 212);
    border-collapse: separate;
    padding: 10px;
    margin: 20px;
}

.table th {
    border: dashed 5 px red;
    text-align: center;
}


.table tr:nth-child(even){
    background-color: brown;
}

