h1 {color:blue;
}

p {background-color: rgb(168, 89, 89);
    color: black;
    font-family: Times;
    padding: 10px;
}

h2 {
    color: blue;
}

h5 {
    background-color: rgb(110, 110, 182);
}

.Directions {
    background-color: grey;
}

.HEDDA {
    color: purple
}

.LOVBURG {
    color: orange;
}

.TESMAN {
    color: rgb(104, 191, 104);
    text-shadow: 5px rgb(224, 211, 211);
    height: 20px;
    width: 100%;
    transition: all 1.4s ease-in-out; 
    
}
.TESMAN:hover{
    filter: blur(4px);
    text-shadow: 5px 5px 5px rgb(55, 80, 55)
}

.q {
    font-family: Arial, Sans-serif;
}

.table { border: dashed 3px rgb(128, 221, 212);
    border-collapse: separate;
    padding: 10px;
    margin: 20px;
}

.table th {
    border: dashed 5px red;
    text-align: center;
}

ul.navbar-horizontal{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

ul.navbar-horizontal li {
    float: left; /* line up horizontally */
    color: #af8383;
    background-color: purple;
}

ul.navbar-horizontal a{
    display:block;
    padding:8px;
}


.table tr:nth-child(even){
    background-color: brown;
}

.icons{
    text-align: center;
}

