h1 {color:blue;
}

p {background-color: rgb(168, 89, 89);
    color: black;
    font-family: Times;
    padding: 10px;
}

h2 {
    color: blue;
}

h5 {
    background-color: rgb(110, 110, 182);
}

.HEDDA {
    color: purple
}

.LOVBURG {
    color: orange;
}

.TESMAN {
    color: green;
}

.q {
    font-family: Arial, Sans-serif;
}

.table { border: dashed 3px rgb(128, 221, 212);
border-collapse: separate;}

.table th {
    border: dashed 5 px red;
    text-align: center;
}



.table tr:nth-child(even){
    background-color: brown;
}